@use "base/variables";
@use "components/buttons";

:root {
    color: variables.$text;
    font-family: Inter, sans-serif;
    font-feature-settings:
        "liga" 1,
        "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: variables.$base;
}

h1 {
    font-size: 5em;
    text-align: center;
}

a {
    color: variables.$accent;
}

.container {
    display: flex;
    min-height: 100svh;
    height: 100svh;
}

.nav-panel {
    align-items: center;
    background: linear-gradient(to right, variables.$surface1, variables.$base);
    display: flex;
    flex: 1;
    height: 100svh;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;

    ul {
        list-style: none;
        padding: 0 variables.$nav-link-padding;
        width: 100%;
    }

    li {
        margin: variables.$nav-link-padding 0;
        padding: variables.$nav-link-padding 0 variables.$nav-link-padding 10%;
    }
}

.nav-link {
    color: variables.$text;
    font-size: variables.$nav-link-font-size;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;

    &:hover {
        color: variables.$accent;
    }
}

.active-section {
    color: variables.$accent;
    font-weight: bold;
    transform: translateX(variables.$nav-link-padding);
}

.content {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: variables.$section-gap;
    max-height: 100svh;
    overflow: auto;
    padding: variables.$section-gap 0;
}

.introduction-container {
    display: flex;
    flex-direction: column;
}

.introduction-content-container {
    align-items: center;
    display: flex;
    gap: variables.$paragraph-skip;

    article {
        p {
            margin: variables.$paragraph-skip 0;
        }
    }
}

.image-of-me {
    border-radius: 50%;
    width: 20%;
}

.icon {
    width: 50px;
}

.education-container {
    background-color: variables.$surface0;
    display: flex;
    flex-direction: column;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: variables.$card-padding;
    padding: variables.$card-padding;
}

.card {
    background-color: variables.$surface0;
    border-radius: variables.$border-radius;
    padding: variables.$card-padding;
}

.contact-card {
    display: flex;
    align-items: center;
    gap: variables.$card-padding;
}
